<!DOCTYPE html>
<html>

<head>
    <title>Redirecting to Payment...</title>
</head>

<body>
    <div style="text-align: center; margin-top: 20%; font-family: sans-serif;">
        <p>正在前往綠界支付...</p>
        <p>Redirecting to ECPay...</p>
    </div>
    <form id="ecpay-form" action="{{ action_url }}" method="POST">
        {% for key, value in params.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
    <script>
        document.getElementById("ecpay-form").submit();
    </script>
</body>

</html>